/*Aside STYLE*/
#aside {
	position: fixed;
	z-index: 10;
	background-color: #3498db;
	height: 100vh;
}
#logo {
	background-color: #FFFFFF;
}
	#logo img {
		width: 100%;
	}
#bAside {
	color: #FFFFFF;
}
.nav-db li a {
	color: #FFFFFF;
	font-weight: bold;
	transition: all 0.5s ease-in-out;
}
	.nav-db li a:hover {
		color: #3498db;
	}
	.active {
		border-right: 5px solid #9BCCEE;
	}
	.nav-db i, span i{
		width: 30px;
		text-align: center;
	}
/*.users-icon {
	border: 2px solid #FFFFFF;
	border-radius: 100%;
}*/
.line-db{
	margin-top: 0 !important;
	width: 20%;
    border: 1px solid #85b6e1;
}
/*end of Aside STYLE*/

/*CONTENT STYLE*/
#content {
	float: right;
	background-color: #b3b3b3;
}
.content-db{
	background-color: #EBEFF0;
}
.sec-content-db {
	background-color: #FFFFFF;
}
.news-db {
	position:relative;
	background-color: #EBEFF0; 
	max-height: 246.8px;
	overflow: hidden;
}
.bk-gr-overlay {
	overflow: hidden;
}
.news-db:hover .bk-gr-overlay{
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
/*END OF CONTENT STYLE*/