/*ASIDE NAV*/
.navbar-default {
	background: none;
}
.container-fluid, .navbar-collapse {
	padding: 0px;
}
.navEvent li a {
	transition: all 0.5s ease-in-out;
}
.navEvent li a:hover {
	background-color: #337ab7;
	color: #FFFFFF;
}
.fixedNav {
	position: fixed;
    top: 20px;
    width:262px;
}
.divEvent {
	padding: 20px 0;
}
/*Responsive*/
@media screen and (max-width: 768px) {
		.fixedNav {
			position: relative;
		    top: 0px;
		    width:100%;
		}
	}